.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(62, 139, 255);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p,
a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 1.5vmax;
  overflow: hidden;
  word-wrap: break-word;
}

.about{
  height: 45vmax;
  object-fit:cover;
  color: white;
}

.title{
  margin-top: 10vh;
  font-size: 5vmax;
  margin-bottom: 0;
}

.text{
  margin-top: 10vh;
}

.box{
  border: 0.51vmax solid white;
  border-radius: 10px;
  width: 8vw;
  height: 5vw;
  position: absolute;
  top: 13.5vh;
  right: 38.5vw;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 1vw;
  text-align: center;
  font-size: 1.5vmax;
  color:white;
}

.explore-funds{
  margin-top: 3vh;
  font-size:3vmax;
}

